<!DOCTYPE html>
<html>
<head>
    <title>Student Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="dashboard">

    <!-- SIDEBAR -->
    <div class="sidebar">

        <h2>Employer</h2>

        <a href="/employer_dashboard">Dashboard</a>
        <a href="/company_profile">Company Profile</a>
        <a href="/post_job">Post Job</a>
        <a href="/manage_jobs">Manage Jobs</a>
        <a href="/view_applications">Applications</a>
        <a href="/employer_notifications">Notifications</a>
        <a href="/logout">Logout</a>

    </div>

    <!-- CONTENT -->
    <div class="content">

        <h2>Student Profile</h2>

        <div class="profile-view-card">

           <div class="profile-top">

            <div class="avatar-circle">
                {{student.fullname[0]}}
            </div>

    <div>
        <h2>{{student.fullname}}</h2>
        <p>{{student.email}}</p>
    </div>

</div>

<div class="profile-grid">

    <div class="profile-row">
        <span class="profile-label">Contact</span>
        <span>{{student.contact}}</span>
    </div>

    <div class="profile-row">
        <span class="profile-label">Location</span>
        <span>{{student.location}}</span>
    </div>

    <div class="profile-row">
        <span class="profile-label">LinkedIn</span>

        {% if student.linkedin %}
        <a href="{{ student.linkedin }}" target="_blank" class="profile-btn">
            Open Profile
        </a>
        {% else %}
        <span>Not Added</span>
        {% endif %}
    </div>

    {% if student.github %}
    <div class="profile-row">
        <span class="profile-label">GitHub</span>

        <a href="{{ student.github }}" target="_blank" class="profile-btn">
            View GitHub
        </a>
    </div>
    {% endif %}

    {% if student.portfolio %}
    <div class="profile-row">
        <span class="profile-label">Portfolio</span>

        <a href="{{ student.portfolio }}" target="_blank" class="profile-btn">
            View Portfolio
        </a>
    </div>
    {% endif %}

</div>

{% if student.resume %}
<div class="resume-area">

    <a href="/static/resumes/{{student.resume}}" target="_blank" class="resume-btn">
        View Resume
    </a>

</div>
{% endif %}

            


        </div>

    </div>

</div>

</body>
</html>
